    <main>
    <div class=main-box>
    <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
    <p>In <i class="fas fa-book"></i>Bookers,</p>
    <p>you can share and exchange  your opinions , inpressions , and emotions</p>
    <p>about various books!</p>
    <div class="btn-group-vertical d-grid gap-2 col-4 mx-auto ">

    <button class="btn btn-info" type="button"> <%= link_to "Log in", new_user_session_path %></button></br>
    <button class="btn btn-success" type="button"><%= link_to "sign up", new_user_registration_path %></button>
    </div>
    </main>
    </div>